{% extends "base.html" %}
{% block body %}
<h1>{{ councillor.fullname }}</h1>
<div class="overview row">
    <div class="aside">
        <img src="images/ballmer.jpg"></img>
    </div>
    <div class="left">
        <h1 class="name">Mirjam Ballmer</h1>
        <div class="role">
            <span class="party">Gr&uuml;nes B&uuml;ndnis Basel</span>
            <span class="committee">Mitglied in "Bau- und Raumplanungskommission"</span>
            <span class="period">Seit 2011</span>
        </div>
        <div class="stats">
            <span class="attendance">89% <a href="#">Anwesend</a></span>
            <span class="rebelling">99% <a href="#">Parteitreu</a></span>
        </div>
    </div>
  </div>


<div class="main">
  <h2>K&uuml;rzliches Abstimmungsverhalten</h2>
  <ul class="vote_list">
    <li>
        <span class="date">12 Februar 2015</span>
        <span class="title">Ratschlag Areal Bank für Internationalen Zahlungsausgleich</span>
        <span class="vote away">Mirjam Ballmer war abwesend</span>
        <span class="result passed tooltip" data-tooltip="30 Ja – 15 Nein">Knapp Genehmigt</span>
    </li>
    <li>
        <span class="date">12 Februar 2015</span>
        <span class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</span>
        <span class="vote passed">Mirjam Ballmer hat zugestimmt</span>
        <span class="result notpassed tooltip" data-tooltip="30 Ja – 15 Nein">Deutlich Abgelehnt</span>
    </li>
  </ul>
  <p class="more"><a href="#">Alle ansehen</a></p>

  <h2>Verpasset Abstimmungen</h2>
  <ul class="vote_list">
    <li>
        <span class="date">12 Februar 2015</span>
        <span class="title">Ratschlag Areal Bank für Internationalen Zahlungsausgleich</span>
        <span class="result passed tooltip" data-tooltip="30 Ja – 15 Nein">Knapp Genehmigt</span>
    </li>
    <li>
        <span class="date">12 Februar 2015</span>
        <span class="title">Ratschlag Areal Bank für Internationalen Zahlungsausgleich</span>
        <span class="result passed tooltip" data-tooltip="30 Ja – 15 Nein">Knapp Genehmigt</span>
    </li>
  </ul>
  <p class="more"><a href="#">Alle ansehen</a></p>

  <h2>Parteiuntre Abgestimmt</h2>
  <ul class="vote_list">
    <li>
        <span class="date">12 Februar 2015</span>
        <span class="title">Ratschlag Areal Bank für Internationalen Zahlungsausgleich</span>
        <span class="vote party notpassed tooltip" data-tooltip="30 Ja – 15 Nein">Partei hat merheitlich abgelehnt</span>
        <span class="vote passed">Mirjam Ballmer hat zugestimmt</span>
        <span class="result notpassed tooltip" data-tooltip="30 Ja – 15 Nein">Knapp Abgelehnt</span>
    </li>
  </ul>
  <p class="more"><a href="#">Alle ansehen</a></p>

  <h2>&Auml;hndliche Grossr&auml;te</h2>
  <table class="similar">
      <tr>
          <th class="match">&Uuml;bereinstimmung</th>
          <th>Name</th>
          <th>Partei</th>
      </tr>
      <tr>
          <td>80%</td>
          <td>Hans Meyer</td>
          <td>Gr&uuml;ne</td>
      </tr>
  </table>
<a href="compare.html" class="button">Vergleichen</a>
</div>
{% endblock %}
